<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="app">
    <header>
        <div class="logo">Интернет-магазин</div>
        <div class="cart">
            <form action="#" class="search-form">
                <input v-model="searchLine" type="text" class="search-field">
                <button class="btn-search" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <button v-on:click="isVisibleCart = !isVisibleCart" class="btn-cart" type="button">Корзина {{cartTotal}}</button>
        </div>
    </header>
    <main v-bind:class="getMainClass()">
        <div v-if="!isLoading && !isVisibleCart" class="products">
            <template v-if="filteredProducts.length">
                <div class="product-item" v-for="product of filteredProducts" :key="product.id_product">
                    <img :src="imgCatalog" alt="Some img">
                    <div class="desc">
                        <h3>{{product.product_name}}</h3>
                        <p>{{product.price}}₽</p>
                        <button class="buy-btn" @click="addProduct(product)">Купить</button>
                    </div>
                </div>
            </template>
            <template v-else>
                <div>Нет данных</div>
            </template>
        </div>

        <div class="cart" v-if="isVisibleCart">
            <div class="cart-item" v-for="product of cart" :key="product.id">
                <h3>{{product.data.product_name}}
                <p>
                    <span>{{product.qty}}</span>
                    <span>x</span>
                    <span>{{product.data.price}}₽</span>
                    <span>=</span>
                    <span>{{product.price}}₽</span>
                </p>
            </div>
        </div>
    </main>
</div>
<script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
        integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/main.js"></script>
</body>
</html>
